<div>
  <mat-list>
    <mat-list-item>
      Owner: {{ data.owner }}
    </mat-list-item>
    <mat-list-item>
      Index: {{ data.index }}
    </mat-list-item>
    <mat-list-item>
      Fingerprint: {{ data.fingerprint }}
    </mat-list-item>
  </mat-list>
</div>

<div>
  <form>
    <mat-form-field>
      <input #newAddressInput matInput placeholder="New Address" (keyup)="setAddress(newAddressInput.value)">
    </mat-form-field>
  </form>
</div>

<div>
  <button mat-raised-button (click)="transfer()">Transfer</button>
  <button mat-raised-button color="warn" (click)="dialogRef.close()">Cancel</button>
</div>
