<mat-card>
  <mat-card-header>
    <div class="mat-headline">Account</div>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <div>Address: {{ web3Service.account.getValue() }}</div>
      </mat-list-item>
      <mat-list-item>
        <div>Balance: {{ balanceCrypto }} {{ appSettings.SYMBOL_CRYPTO }}</div>
      </mat-list-item>
      <mat-list-item>
        <div>Balance: {{ balanceFiat | number : '1.2-2' }} {{ appSettings.SYMBOL_FIAT }}</div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
