<mat-grid-list [cols]="3" rowHeight="fit">
  <mat-grid-tile><app-account class="filling"></app-account></mat-grid-tile>
  <mat-grid-tile><app-contract class="filling"></app-contract></mat-grid-tile>
  <mat-grid-tile><app-transfer class="filling"></app-transfer></mat-grid-tile>

  <mat-grid-tile><app-register class="filling padded"></app-register></mat-grid-tile>
  <mat-grid-tile><app-registrations class="filling"></app-registrations></mat-grid-tile>
  <mat-grid-tile><app-remove class="filling"></app-remove></mat-grid-tile>

  <mat-grid-tile><app-check class="filling"></app-check></mat-grid-tile>
  <mat-grid-tile><app-event class="filling"></app-event></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
